@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: rgb(58, 57, 57);
}